#taskForm {
    width: 25%;
    border: 5px groove black;
    background-color: lightgrey;
    padding: 5px;
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  #taskList {
    width: 25%;
    margin-right: 40px;
    padding:20px;
  }

  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .task-item input[type="checkbox"] {
    margin-right: 5px;
  }

  .task-item label {
    flex: 1;
    margin-right: 5px;
  }

  .task-item .remove-button {
    margin-left: 120px;
  }