  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  #taskFormContainer {
    width: 30%;
    background-color: lightgrey;
    border: 5px groove black;
    padding: 20px;
  }

  #taskForm {
    text-align: center;
    padding: 10px;
  }

  #taskForm input[type="text"],
  #taskForm button {
    padding: 10px; 
    margin-right: 5px; 
  }
  
  #taskList {
    margin-top: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
  }

  .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .task-item input[type="checkbox"] {
    margin-right: 5px;
  }
  

  .task-item label {
    flex: 1;
    margin-right: 5px;
  }

  .task-item .remove-button {
    margin-left: 10px;
    cursor: pointer;
  }